* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

:root {
    --first_color: #9356DC;
    --second_color: #FF79DA;
    --third_color: #99E2D0;
}

#La_palette_du_goût {
    background-image: url("./images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

#La_note_enchantée {
    background-image: url("./images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}

#A_la_française {
    background-image: url("./images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

#le_délice_des_sens{
    background-image: url("./images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.text_shrikhand {
    font-family: "Shrikhand", sans-serif;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 28px;
    font-weight: 400;
}

h2 {
    font-size: 24px;
    font-weight: 700;
}

h3 {
    font-weight: 700;
    font-size: 18px;
}

h4 {
    font-size: 18px;
    font-weight: 300;
}

h5 {
    font-size: 18px;
    font-weight: 500;
}

h6 {
    font-size: 15px;
    font-weight: 300;
}

p {
    font-size: 16px;
    font-weight: 500;
}

a {
    color: white;
    text-decoration: none;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid var(--third_color);
    border-radius: 50%;
    border-top: 16px solid var(--first_color) ;
    animation: spin 2s linear infinite, fade 3s cubic-bezier(1,-1.21,1,.07) ;
    animation-fill-mode: forwards;
}

@keyframes fade {
    0% { opacity: 1;}
    100% {opacity: 0;}
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#page {
    opacity: 0;
}

.animate-bottom {
    position: relative;
    animation: animatebottom 1s linear;
    animation-delay: 3s;
    animation-fill-mode: forwards
}

@keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}

                                        /* header */

.box_header {
    height: 63px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    z-index: 1;
    position: relative;
}

.box_logo {
    margin-top: 10px;
    width: 162px;
    height: 44px;
}

.logo {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.box_place {
    display: flex;
    background-color: #EAEAEA;
    height: 50px;
    gap: 17px;
    color: #353535;;
}

.box_presentation {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #F7F7F7;
    min-height: 287px;
    text-align: center;
    padding: 0 2em 0 2em;
}

.box_presentation h1 {
    font-size: 24px;
    font-weight: 700;
}

.box_presentation p {
    font-size: 18px;
    font-weight: 300;
}

.button {
    color: white;
    background: linear-gradient(0deg, var(--first_color) -5.2%, var(--second_color) 110.74%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    padding: 13px 18.75px;
    min-width: 186px;
    cursor: pointer
}

.button:hover {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
    opacity: 0.85;
}

.functioning {
    padding-top: 48px;
    padding-bottom: 68px;
}

.functioning_flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.margin_functioning h2 {
    margin-bottom: 26px;
}

.button_functioning {
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    width: 322.49px;
    height: 72.38px;
    background-color: #F7F7F7;
    transition: 0.3s;
    cursor: pointer
}

.button_functioning:hover {
    background-color: #F5EDFF;
    transition: 0.3s;
}

.button_functioning:hover i {
    color: var(--first_color);
    transition: 0.3s;
}

.button_functioning-number {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--first_color);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    left: -11px;
    color: white;
    font-size: 14.18px;
}

.button_functioning-icone {
    font-size: 20px;
    color: #7E7E7E;
}

.button_functioning-item {
    display: flex;
    gap: 27px;
    margin-left: 10px;
}

.restaurant {
    background-color: #F7F7F7;
    padding-top: 54px;
    padding-bottom: 64px;
}

.restaurant_flex {
    display: flex;
    justify-content: center;
    gap: 18px;
    align-items: flex-end;
    flex-wrap: wrap;
}

.restaurant_flex h2 {
    margin-bottom: 26px;
}

.box_dish {
    width: 355px;
    height: 251px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
}

.box_dish-image {
    width: 100%;
    height: 174px;  
    background-size: cover;
    background-position: center;
}

.icone_new {
    display: flex;
    position: relative;
    top: 13px;
    left: 246.31px;
    width: 80px;
    height: 29px;
    background-color: var(--third_color);
    color: #008766;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
}

.icone_new p {
    font-size: 14px;
}

.box_dish-caption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 77px;
    margin-left: 12.81px;
    margin-right: 25px;
    color: black;
}

.box_dish-text h4 {
    font-size: 17px;
}

.box_dish-caption h3{
    margin-bottom: 5px;
}

.box_heart-homepage {
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-color: black;
    clip-path:path("M12 21.593c-5.63-5.539-11-10.297-11-14.402 0-3.791 3.068-5.191 5.281-5.191 1.312 0 4.151.501 5.719 4.457 1.59-3.968 4.464-4.447 5.726-4.447 2.54 0 5.274 1.621 5.274 5.181 0 4.069-5.136 8.625-11 14.402m5.726-20.583c-2.203 0-4.446 1.042-5.726 3.238-1.285-2.206-3.522-3.248-5.719-3.248-3.183 0-6.281 2.187-6.281 6.191 0 4.661 5.571 9.429 12 15.809 6.43-6.38 12-11.148 12-15.809 0-4.011-3.095-6.181-6.274-6.181");
    transition: 1s;
}

.box_heart-homepage:hover {
    background: linear-gradient(200.64deg, var(--first_color) -5.2%, var(--second_color) 110.74%);;
    clip-path: path("M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z");
    animation-name: like;
    animation-duration: 1s;
}

.box_heart {
    position: relative;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

input {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
}

.heart{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    clip-path:path("M12 21.593c-5.63-5.539-11-10.297-11-14.402 0-3.791 3.068-5.191 5.281-5.191 1.312 0 4.151.501 5.719 4.457 1.59-3.968 4.464-4.447 5.726-4.447 2.54 0 5.274 1.621 5.274 5.181 0 4.069-5.136 8.625-11 14.402m5.726-20.583c-2.203 0-4.446 1.042-5.726 3.238-1.285-2.206-3.522-3.248-5.719-3.248-3.183 0-6.281 2.187-6.281 6.191 0 4.661 5.571 9.429 12 15.809 6.43-6.38 12-11.148 12-15.809 0-4.011-3.095-6.181-6.274-6.181");
    transition: 1s;
}

input:checked + .heart {
    background: linear-gradient(200.64deg, var(--first_color) -5.2%, var(--second_color) 110.74%);;
    clip-path: path("M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z");
    animation-name: like;
    animation-duration: 1s;
}

@keyframes like {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%
    }
}

footer {
    background-color: #353535;
    color: white;
    height: 197px;   
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    padding-top: 22px;
    gap: 16px;
}


.box_logo_footer h4 {
    font-weight: 400;
}

.list_footer {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.flex_list-element {
    display: flex;
    gap: 11px;
}

                                    /* menu */

.arrow {
    position: absolute;
    top: 26px;
    left: 23px;
}

.image_menu {
    position: absolute;
    width: 100%;
    height: 275px;
    background-size: cover;
    background-position: center;
}

.menu {
    position: relative;
    z-index: 1;
    border-radius: 40px 40px 0 0;
    margin: 220px auto 0 auto; 
    background-color: #F7F7F7;
    max-width: 1055px;
}

.title_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 32px;
    gap: 36px;
    padding-right: 15px;
}

.plat {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40.47px;
    padding-top: 42px;
    padding-bottom: 40px;
}

.box_menu {
    display: flex;
    flex-direction: column;
    gap: 12px;    
    width: 90%;
    align-items: center;
    opacity: 0;
}

.box_menu:nth-child(1) {
    animation-delay: 0.5s;
}

.box_menu:nth-child(2) {
    animation-delay: 1s;
}

.box_menu:nth-child(3) {
    animation-delay: 1.5s;
}

.animate-right {
    position: relative;
    animation: animateright 1s linear;
    animation-fill-mode: forwards
}

@keyframes animateright { 
    from{ right:-100px; opacity:0 } 
    to{ right:0; opacity:1 }
}

.align_menu {
    max-width: 638px;
    min-width: 300px;
    width: 100%;
}

.align_menu ,h2 {
    font-size: 18px;
    font-weight: 500;
}


.align_menu p ,h3{
    font-size: 15px;
    font-weight: 300;
}

.border_green {
    height: 27px;
    margin-bottom: 12px;
}

.border_green:after {
    display: block;
    content : "";
    position: relative;
    left: 0;
    bottom: -6px;
    width: 40px;  
    border-bottom:3px solid var(--third_color);
}

.box_food {
    display: flex;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    border-radius: 15.0431px;
    align-items: flex-end;
    justify-content: space-between;
    padding: 12.03px 17.72px 12.03px 10.53px;
    max-width: 638px;
    min-width: 300px;
    width: 100%;
    cursor: pointer;
    height: 69px;
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: white;
}

.box_food:hover .add {
    transition: width 0.5s ease-in-out;
    width: 59px;
}

.caption_food {
    overflow: hidden;
    white-space: nowrap;
    flex: 1 1 0;
}


.caption_food h5 {
    overflow: hidden;
    text-overflow: ellipsis;
}

.caption_food h6 {
    overflow: hidden;
    text-overflow: ellipsis;
}

.price {
    margin-left: auto;
    font-size: 15px;
    font-weight: 300;
}

.add {
    position: relative;
    bottom: -12px;
    right: -18px;
    width: 0;
    height: 69px;
    background-color: var(--third_color);
    border-radius: 0px 15px 15px 0px;
    transition: width 0.5s ease-in-out;
}



                    /* desktop */

@media (min-width: 1024px) {
    .box_header {
        height: 96px;
    }

    .arrow {
        top: 40px;
        left: 75px;
    }

    .box_logo {
        width: 200px;
        height: 54px;
    }

    .box_presentation h1 {
        font-size: 40px;
    }

    .functioning {
    padding-top: 50px;
    padding-bottom: 80.62px;
    }

    .margin_functioning h2 {
        margin-bottom: 28px;
    }

    .functioning_flex {
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 36.51px;
        align-items: flex-end;
    }

    .restaurant {
        background-color: #F7F7F7;
        padding-top: 47px;
        padding-bottom: 82px;
        padding-left: 190.04px;
        overflow: hidden;
    }
    
    .restaurant_flex {
        gap: 32px;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    footer {
        height: 114px;
        flex-direction: row-reverse;
        align-items: center;
        gap: 71px;    
        margin-left: 0;
        padding-top: 0;
        padding-right: 120px;
    }

    .list_footer {
        flex-direction: row;
        gap: 40px;
    }

                                /* menu */

    .menu {
        margin: 343px auto 0 auto; 
    }

    .image_menu {
        height: 406px;
    }

    .title_menu {
        padding-top: 51px;
    }
}